.weatherData {
    max-width: 500px;
    margin:  0px auto;
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    border-radius: 10px;
    background-color: #255a8c;
}

.weatherData h2 {
    margin-top: 20px;
    font-size: 2.5rem;
}

.weatherDescription {
    display: flex;
    align-items: center;
    justify-content: center;
}

.weatherDescription img {
    width: 120px;
    margin-right: 10px;
}

.weatherDescription p , .weatherDescription span {
    font-size: 1.5rem;
}

i {
    font-size: 2rem;
}

.weatherDescription i {
    margin-right: 10px;
    color:rgb(198, 40, 53)
}

.weatherDescription p {
    font-weight: bold;
}


.humidity i{
    margin-right:10px;
    color: rgb(16, 68, 100);
}

.wind {
    margin-bottom: 20px;
}

.wind i{
    margin-right:10px ;
    color: rgb(3, 19, 30);
}

.button {
    padding: 10px;
    min-width: 200px;
    margin-bottom: 20px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}

