.weatherData {
    width: 100%;
    margin:  0px auto;
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.45);
}

.weatherData h2 {
    font-weight: 900;
    margin-top: 20px;
    font-size: 1.8rem;
}

.weatherDescription {
    display: flex;
    align-items: center;
    justify-content: center;
}

.weatherDescription img {
    width: 150px;
    margin-right: 10px;
}

.weatherDescription p , .weatherDescription span {
    font-size: 1.5rem;
}

i {
    font-size: 2rem;
}

.weatherDescription i {
    margin-right: 10px;
    color:rgba(198, 40, 53 , 0.8)
}

.weatherDescription p {
    font-weight: bold;
}


.humidity i{
    margin-right:10px;
    color: rgb(16, 68, 100);
}

.wind {
    margin-bottom: 20px;
}

.wind i{
    margin-right:10px ;
    color: rgb(3, 19, 30);
}

.button {
    padding: 10px;
    min-width: 200px;
    margin-bottom: 20px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}



@media screen and (max-width: 576px) {
    .weatherData {
        width: 90%;
    }
}